body {
    background-color: darkgreen;
}

.inner {
    margin-left: 15%;
}

#pile {
    display: inline-block;
    margin-right: 2%;
    background-image: url('http://www.murphysmagicsupplies.com/images_email/Mandolin_BACK.jpg');
    background-size: cover;
    background-position: center;
}

.discard {
    display: inline-block;
}

.card {
    height: 120px;
    width: 70px;
    border-radius: 10px;
}

.player-card {
    margin-top: 2.5px;
    margin-left: 2.5px;
}

.computer-card {
    margin: 5px;
}

.card-outline {
    height: 127.5px;
    width: 77.5px;
    border-radius: 10px;
    margin: 2.5px;
    display: inline-block;
    background-color: darkgreen;
}

.card-outline-hightlight {
    height: 127.5px;
    width: 77.5px;
    border-radius: 10px;
    margin: 2.5px;
    display: inline-block;
    background-color: orange;
}

.hand {
    margin-left: 2% !important;
}

.buttons {
    margin-top: 10px;
    margin-left: 12%;
}

.button {
    margin-right: 2%;
}

.division {
    height: 18vh;
    width: 100%;
}

.board-card {
    height: 70px;
    width: 40px;
    margin: 0 1px;
    border-radius: 10px;
}

.meld {
    display: inline-block;
    margin: 25px 15px;
}

.border {
    border: 3px solid black;
}

.modal-text {
    text-align: center;
}

.modal {
    margin-top: 40vh;
    text-align: center;
}

.board {
    margin-left: 15%;
}

.first-btn {
    margin-left: 16%;
}

#question-mark {
    display: inline-block;
    color: orange;
    margin-left: 10%;
    margin-top: -4vh;
}

#question-mark:hover {
    cursor: pointer;
}

#instructions-modal {
    margin-top: 6vh;
    text-align: center;
}

h2 {
    color: orange;
    font-weight: bold;
}

h3 {
    color: orange;
    font-weight: bold;
}